<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <title>Adi's Bike World</title>
