<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD_TEMPLATE -->
  </head>
  <body>
    <!-- NAVBAR_TEMPLATE -->

    <div class="container">
      <div class="row">
        <h1 class="pb-4 pt-4">Kids Bikes</h1>
        <p>
          We sell the bikes in store to ensure customer security and
          satisfaction. We are also delivering bicyce or parts by mail, please
          contact if you cannot reach the store and want something mailed to
          you. Prdoucts from catalogs can be ordered through us, delivered at
          the shop and professionaly assembled here.
        </p>
      </div>
    </div>

    <!-- SCRIPT_TEMPLATE -->
  </body>
</html>
